LoadPlugin procevent
LoadPlugin sysevent
LoadPlugin connectivity
<Plugin "connectivity">
  Interface {{ barometer.plugin_connectivity.interface }}
</Plugin>
<Plugin "procevent">
  BufferLength 100
  RegexProcess "metric-listener"
  RegexProcess "event-listener"
  Process tuned
</Plugin>
<Plugin "sysevent">
  Listen "127.0.0.1" "6666"
  BufferSize 4096
  BufferLength 200
  RegexFilter "^.*a.*$"
  RegexFilter "^b.*$"
</Plugin>
